name: Ci Test

on:
  push:
    paths:
      - "src/caddy/caddy.version"
  workflow_dispatch:
    inputs:
      dockerfile:
        description: "Base image type"
        required: true
        type: choice
        default: "Dockerfile"
        options:
          - "Dockerfile"
          - "Dockerfile.debian"
      web_server:
        description: "Web server type"
        required: true
        type: choice
        default: "caddy"
        options: ["caddy", "nginx", "haproxy"]
      exit_mode:
        description: "Outbound mode (0: Direct | 1: IPv6 only | 2: All traffic)"
        required: true
        type: choice
        default: "1"
        options: ["0", "1", "2"]
  repository_dispatch:

# env:
# REGISTRY_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/sap
# REGISTRY_IMAGE: ghcr.io/${{ github.actor }}/sap
# REGISTRY_IMAGE: ghcr.io/${{ github.repository_owner }}/sap

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      variants: ${{ steps.decide.outputs.variants }}
    steps:
      - id: decide
        run: |
          # CHOICE="${{ github.event.inputs.dockerfile }}"
          CHOICE="${{ inputs.dockerfile }}"
          if [ -z "$CHOICE" ]; then CHOICE="all"; fi

          if [ "$CHOICE" == "Dockerfile" ]; then
            V='["alpine"]';
          elif [ "$CHOICE" == "Dockerfile.debian" ]; then
            V='["debian"]';
          else
            V='["alpine", "debian"]';
          fi
          echo "variants=$V" >> $GITHUB_OUTPUT

  build:
    runs-on: ${{ matrix.runner }}
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        variant: ${{ fromJSON(needs.setup.outputs.variants) }}
        platform: ["linux/amd64", "linux/arm64"]
        include:
          - platform: "linux/amd64"
            runner: "ubuntu-latest"
          - platform: "linux/arm64"
            runner: "ubuntu-latest"

    steps:
      - name: Checkout private repo test
        uses: actions/checkout@v6
        with:
          repository: darkommoers/mainal
          path: mainal
          token: ${{ secrets.MY_GITHUB_TOKEN }}

      # - name: Checkout
      #   uses: actions/checkout@v6

      - name: Prepare Dockerfile
        run: |
          ls -al
          ls -al mainal
          ls -al mainal/sap/docker
          # cp -fr mainal/sap/docker/* $PWD
          cp -fr mainal/sap/docker/* .
          ls -al

          if [ "${{ matrix.variant }}" == "alpine" ]; then
            FILE="Dockerfile";
          else
            FILE="Dockerfile.debian";
          fi
          echo "DOCKERFILE_PATH=$FILE" >> $GITHUB_ENV;

      - name: Prepare required modify
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GH_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

          WEB_SERVER="${{ inputs.web_server || 'caddy' }}"
          EXIT_MODE="${{ inputs.exit_mode || '1' }}"

          echo "REGISTRY_IMAGE=ghcr.io/${{ github.actor }}/sap-${WEB_SERVER}-${EXIT_MODE}" >> $GITHUB_ENV

          sed -i "s/run.sh \"\$TARGETPLATFORM\" \"caddy\" \"1\"/run.sh \"\$TARGETPLATFORM\" \"${WEB_SERVER}\" \"${EXIT_MODE}\"/g" "$DOCKERFILE_PATH"
          cat "$DOCKERFILE_PATH"

          docker buildx inspect --bootstrap

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY_IMAGE }}
          # tags: |
          #   type=raw,value=${{ matrix.variant }}

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          # username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ env.DOCKERFILE_PATH }}
          platforms: ${{ matrix.platform }}
          provenance: false
          # sbom: false
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          install -d ${{ runner.temp }}/digests || mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          # touch "${{ runner.temp }}/digests/${digest#sha256:}"
          touch "${RUNNER_TEMP}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v6
        with:
          name: digests-${{ matrix.variant }}-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs: [setup, build]
    strategy:
      matrix:
        variant: ${{ fromJSON(needs.setup.outputs.variants) }}
    steps:
      # - name: Checkout
      #   uses: actions/checkout@v6

      - name: Prepare
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GH_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          WEB_SERVER="${{ inputs.web_server || 'caddy' }}"
          EXIT_MODE="${{ inputs.exit_mode || '1' }}"
          echo "REGISTRY_IMAGE=ghcr.io/${{ github.repository_owner }}/sap-${WEB_SERVER}-${EXIT_MODE}" >> $GITHUB_ENV

      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ matrix.variant }}-*
          merge-multiple: true

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          # username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=raw,value=latest,enable=${{ matrix.variant == 'alpine' }}
            type=raw,value=${{ matrix.variant }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}
