name: Ci Test

on:
  push:
    paths:
      - "src/caddy/caddy.version"
  workflow_dispatch:
  repository_dispatch:

env:
  # REGISTRY_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/sap
  # REGISTRY_IMAGE: ${{ github.actor }}/sap
  REGISTRY_IMAGE: ${{ github.repository_owner }}/sap

jobs:
  push-alpine:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # - { platform: linux/386, runner: ubuntu-latest }
          - { platform: linux/amd64, runner: ubuntu-latest }
          - { platform: linux/arm64, runner: ubuntu-24.04-arm }

    steps:
      - name: Checkout private repo test
        uses: actions/checkout@v6
        with:
          repository: darkommoers/mainal
          path: mainal
          token: ${{ secrets.MY_GITHUB_TOKEN }}

      # - name: Checkout
      #   uses: actions/checkout@v6

      - name: Get Dockerfile
        run: |
          ls -al
          ls -al mainal
          ls -al mainal/sap/docker
          cp -fr mainal/sap/docker/* $PWD

      - name: Prepare
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GH_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
          docker buildx inspect --bootstrap

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY_IMAGE }}

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          # username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          provenance: false
          # sbom: false
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          # outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          install -d ${{ runner.temp }}/digests || mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          # touch "${{ runner.temp }}/digests/${digest#sha256:}"
          touch "${RUNNER_TEMP}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v6
        with:
          name: digests-alpine-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merges:
    runs-on: ubuntu-latest
    needs:
      - push-alpine
      # - push-debian
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GH_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}"

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          # username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download digests alpine
        uses: actions/download-artifact@v7
        with:
          path: ${{ runner.temp }}/digests-alpine
          pattern: digests-alpine-*
          merge-multiple: true

      - name: Docker meta alpine
        id: meta-alpine
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=raw,value=alpine

      - name: Create manifest list and push alpine
        working-directory: ${{ runner.temp }}/digests-alpine
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image alpine
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta-alpine.outputs.version }}

  # test:
  #   needs:
  #     - push-alpine
  #     - push-debian
  #     - merges
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6

  #     - name: Prepare Setup Variables
  #       env:
  #         GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #         # GH_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
  #         CONTENT_PATH: "src/caddy/caddy.version"
  #       run: |
  #         # echo "CADDY_VERSION=$(curl -fsSL -H "Authorization: Bearer ${GH_TOKEN}" -X GET https://api.github.com/repos/${{ github.repository }}/contents/${{ env.CONTENT_PATH }} | jq -r .content | head -1 | base64 -d)" >> $GITHUB_ENV
  #         echo "CADDY_VERSION=$(cat "${{ env.CONTENT_PATH }}" | head -n1)" >> $GITHUB_ENV

  #     - name: Test push Docker images
  #       run: |
  #         docker run --rm --privileged --entrypoint "" ${{ secrets.DOCKERHUB_USERNAME }}/caddy:alpine caddy version
  #         docker run --rm --privileged --entrypoint "" ${{ secrets.DOCKERHUB_USERNAME }}/caddy:debian caddy version
  #         # docker run --rm --privileged --entrypoint "/usr/bin/caddy" ${{ secrets.DOCKERHUB_USERNAME }}/caddy:alpine version
  #         # docker run --rm --privileged --entrypoint "/usr/bin/caddy" ${{ secrets.DOCKERHUB_USERNAME }}/caddy:debian version
