name: Ci Test

on:
  push:
    paths:
      - "src/caddy/caddy.version"
  workflow_dispatch:
    inputs:
      dockerfile:
        description: "Base image type"
        required: false
        type: choice
        default: "Dockerfile"
        options:
          - "Dockerfile"
          - "Dockerfile.debian"
      proxy:
        description: "Web server type"
        required: false
        type: choice
        default: "caddy"
        options:
          - "caddy"
          - "nginx"
          - "haproxy"
      warp_mode:
        description: "WARP network mode"
        required: false
        type: choice
        default: "1"
        options:
          - "0"
          - "1"
          - "2"
  repository_dispatch:

env:
  # REGISTRY_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/sap
  # REGISTRY_IMAGE: ghcr.io/${{ github.actor }}/sap
  REGISTRY_IMAGE: ghcr.io/${{ github.repository_owner }}/sap

jobs:
  push-alpine:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # - { platform: linux/386, runner: ubuntu-latest }
          - { platform: linux/amd64, runner: ubuntu-latest }
          # - { platform: linux/arm64, runner: ubuntu-24.04-arm }
          # - { platform: linux/arm64, runner: ubuntu-latest }

    steps:
      - name: Checkout private repo test
        uses: actions/checkout@v6
        with:
          repository: darkommoers/mainal
          path: mainal
          token: ${{ secrets.MY_GITHUB_TOKEN }}

      # - name: Checkout
      #   uses: actions/checkout@v6

      - name: Get Dockerfile
        run: |
          ls -al
          ls -al mainal
          ls -al mainal/sap/docker
          cp -fr mainal/sap/docker/* $PWD
          ls -al

      - name: Prepare
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GH_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
          docker buildx inspect --bootstrap

      - name: Modify Dockerfile
        run: |
          DOCKERFILE="${{ inputs.dockerfile || 'Dockerfile' }}"
          PROXY="${{ inputs.proxy || 'caddy' }}"
          WARP_MODE="${{ inputs.warp_mode || '1' }}"
          sed -i "s/run.sh \"\$TARGETPLATFORM\" \"caddy\" \"1\"/run.sh \"\$TARGETPLATFORM\" \"${PROXY}\" \"${WARP_MODE}\"/g" "$DOCKERFILE"
          cat "$DOCKERFILE"
